$brand-light-orange: #ffdcbc;
$brand-orange: #ff681d;
$brand-deep-orange: #af3f08;
$brand-yellow: #ffe03d;
$brand-deep-yellow: #e4b12e;
$brand-wheat: #fdf8e2;
$brand-deep-wheat: #f9efc3;
$ui-light-red: #ffc6c6;
$ui-red: #f55151;
$ui-deep-red: #9c3e3e;
$ui-light-blue: #b4e6ff;
$ui-blue: #42bbf8;
$ui-deep-blue: #1f82b3;
$ui-light-green: #bbeab8;
$ui-green: #73be6f;
$ui-deep-green: #00805f;
$ui-new-good: #6fbebc;
$gray-90: #161616;
$gray-75: #404040;
$gray-55: #737171;
$gray-30: #b2b2b2;
$gray-10: #e6e6e6;
$gray-03: #f7f7f7;
$white: #fff;
$overlay-black: rgba(0, 0, 0, 0.25);

$color-primary-base: #ff681d;
$input-type-number-width: 80px;
$button-padding: 10px 30px;
$button-color: $white;
$button-background: $color-primary-base;
$button-border: $color-primary-base;
$button-hover-color: $white;
$button-hover-border: $color-primary-base;
$button-disabled-color: $gray-75;
$button-border-width: 1px;
$button-border-radius: 24px;
$placeholder-color: $gray-10;
$br-s: 8px;
$placeholder-image: linear-gradient(90deg, rgba(0, 0, 0, 0.08) 0, rgba(0, 0, 0, 0.15) 15%, rgba(0, 0, 0, 0.08) 30%);
$placeholder-size: 1200px 100%;
$placeholder-animation: placeholderAnimation 2s linear infinite, appear 100ms forwards;
$field-valid: #2cd878;
$field-error: #df4b4b;
$field-note: rgba(32, 32, 32, 0.68);
$content-max-width: 1366px;
$content-padding: 1rem;
$content-padding-desktop: 2rem;
$content-background: transparent;
$search-left-mobile-padding: 1rem;
$arrow-color: var(--color-primary-base);
$arrow-rotate: rotate(45deg);
$popup-padding-top: 120px;
$color-breadcrumbs-background: #f4f4f4;
$color-breadcrumbs-base: #202020;
$color-breadcrumbs-current: #202020;
$color-breadcrumbs-arrow: #202020;
$color-menu-background: #fff;
$color-menu-hover: #f3f3f3;
$color-menu-gray: #979797;
$color-menu-gray-arrow: rgba(0, 0, 0, 0.4);
$color-menu-gray-text: #202020;
$color-menu-contacts: #696969;
$color-menu-bottom-block: #f4f4f4;
$color-menu-overlay: rgba(0, 0, 0, 0.1);
$color-menu-delimeter: #f4f4f4;
$color-text-white: #fff;
$color-text-black: #202020;
$color-text-gray: #a7a7a7;
$color-text-link: #ff681d;
$color-primary-base: #ff681d;
$color-primary-dark: #202020;
$color-primary-light: #f4f4f4;
$color-primary-white: #fff;
$color-neutral-dark: #202020;
$color-neutral-base: #a7a7a7;
$color-neutral-light: #f4f4f4;
$color-state-valid: #2cd878;
$color-state-error: #df4b4b;
$color-state-note: rgba(32, 32, 32, 0.68);
$color-cart-light: #fee;
$color-cart-background: #fff;
$color-cart-checkmark: #73be6f;
$color-cart-text: #333;
$color-discount-background: #fff;
$color-discount-border: #c5c5c5;
$color-discount-button: #ff681d;
$color-summary-background: #fff;
$color-summary-divider: #f4f4f4;
$color-summary-totals: hsla(0, 0%, 95.7%, 0.5);
$color-quantity-add: #202020;
$color-quantity-remove: #a7a7a7;
$color-homepage-background: #fff;
$color-footer-background: #fff;
$color-footer-copyright: #d8d8d8;
$color-footer-light: #fff;
$color-header-contact: #696969;
$color-subscription-background: #6f7378;
$color-subscription-border: #d4d4d4;
$color-subscription-text: #4c4c4c;
$color-subscription-hover: #8a8a8a;
$color-subscription-light: #fff;
$color-myaccount-inputborder: #c5c5c5;
$color-myaccount-overlay: #f6f6f6;
$color-myaccount-forgotpassword: #3197ca;
$color-myaccount-dropdowntitle: #333;
$color-myaccount-terms: #a2a2a2;
$color-myaccount-white: #fff;
$color-myaccount-addressborder: #d8d8d8;
$color-myaccount-buttonafterborder: #202020;
$color-myaccount-producttabsnavbg: #ebebeb;
$color-myaccount-producttabsbtncolor: #333;
$color-myaccount-label: #a9a9a9;
$color-myaccount-defaultaddress: rgba(61, 169, 14, 0.14);
$color-myaccount-defaultcolor: #378e17;
$color-myaccount-divider: #f4f4f4;
$color-input-radio: #d8d8d8;
$color-input-checkbox: #fff;
$color-input-checkboxactive: #ff681d;
$color-input-checkboxborder: #000;
$color-main-background: #f4f4f4;
$color-main-wrapperbg: #fff;
$color-main-counter: #e05757;
$color-blur: #202020;
$color-topmenu-background: #fff;
$color-topmenu-border: #f4f4f4;
$color-headercatalog-main: #202020;
$color-headercatalog-background: #f4f4f4;
$color-button-primaryhover: #e66510;
$color-button-bigbg: #73be6f;
$color-button-bigbghover: #529a4e;
$color-button-lightgrey: #a9a9a9;
$color-menuoverlay-foreground: #fff;
$color-menuoverlay-background: rgba(0, 0, 0, 0.4);
$color-category-selected: rgba(255, 113, 18, 0.47);
$color-category-gray: #a2a2a2;
$color-category-loader: #343232;
$color-category-mobiledot: rgba(52, 50, 50, 0.6);
$color-category-filterborder: rgba(32, 32, 32, 0.4);
$color-category-filteritemhoverbg: rgba(255, 113, 18, 0.04);
$color-category-mobfiltersbg: #fff;
$color-category-overlay: hsla(0, 0%, 96.5%, 0.8);
$color-category-swatch-border: #ebebeb;
$color-quickLink-border: #d8d8d8;
$color-expandable-text: #202020;
$color-expandable-divider: #e0e0e0;
$color-pdp-wrapperbg: #fff;
$color-pdp-button: #ebebeb;
$color-pdp-cyber-monday: #461b7b;
$color-pdp-swatch-text: #333;
$color-pdp-swatch-mobile-border: rgba(32, 32, 32, 0.24);
$color-pdp-swatch-color-border: #ff7e14;
$color-pdp-delivery: rgba(51, 51, 51, 0.6);
$color-pdp-sku-mobile: rgba(32, 32, 32, 0.63);
$color-pdp-free-text: #73be6f;
$color-gallery-crumb-color: #d8d8d8;
$color-gallery-crumb-active: #696969;
$color-gallery-crumb-bg: #fff;
$color-gallery-thumbnail-border: #ebebeb;
$color-gallery-thumbnail-hover: #979797;
$color-gallery-thumbnail-active: #ff7e14;
$color-sticker-new: #6fbebc;
$color-sticker-night-sale: #3c3c3c;
$color-sticker-discount: #b4d252;
$color-sticker-black-friday: #000;
$color-sticker-cyber-monday: #461b7b;
$color-sticker-loan: #f48012;
$color-sticker-online: #ff4b23;
$color-sticker-order: #ff1a61;
$color-sticker-promotion: #ff681d;
$color-sticker-pre-order: #8b6bc4;
$color-sticker-technodom: #dac620;
$color-sticker-top-seller: #ff5e5e;
$color-sticker-coupon: #003097;
$color-sticker-cashback: #f48012;
$color-stock-background: #ebebeb;
$color-stock-text: #333;
$color-giftset-border: #ff7e14;
$color-storefinder-white: #fff;
$color-storefinder-arrow: #e56a00;
$color-storefinder-price: #333;
$color-storefinder-text: #202020;
$color-storefinder-separator-icon: #ff7e14;
$color-storefinder-separator-line: #ebebeb;
$color-storefinder-default-working-days: #b5b5b5;
$color-technoservice-btnbackground: rgba(255, 113, 18, 0.04);
$color-technoservice-dark: #343232;
$color-technoservice-grey: #707070;
$color-technoservice-th: #b6b6b6;
$color-technoservice-tableroweven: hsla(0, 0%, 95.7%, 0.3);
$color-technoservice-border: #f4f4f4;
$color-promo-button: #d8d8d8;
$color-promo-text: #343232;
$color-promo-border: #ff681d;
$color-promo-active: rgba(255, 113, 18, 0.04);
$color-promo-separator: #d6d6d6;
$color-promo-sticker-new: #129aff;
$color-checkout-divider: #f4f4f4;
$color-checkout-background: #fff;
$color-checkout-text: #333;
$color-checkout-button-hover: rgba(255, 114, 20, 0.04);
$color-checkout-credit-bg: rgba(255, 113, 18, 0.06);
$color-checkout-inputborder: #c5c5c5;
$color-checkout-button-border: #d8d8d8;
$color-checkout-button-text: #343232;
$color-tooltip-text: #ccc;
$color-tooltip-border: #ccc;
$color-creditCalculator-active: #ff681d;
$color-creditCalculator-button-bg: #fff;
$color-creditCalculator-button-border: #cfcfcf;
$color-creditCalculator-text: #202020;
$color-notification-success: #73be6f;
$color-notification-error: #ff5e5e;
$color-notification-information: #ffeb0a;
$color-creditPlp-bg: #f4f4f4;
$color-creditPlp-text: #1e242b;
$color-creditPdp-bg: rgba(255, 104, 29, 0.13);
$color-creditPdp-text: #202020;
$color-creditCart-text: #696969;
$color-creditCart-text-bold: #ff681d;
$color-infoblock-border: #ddd;
$color-infoTab-lineDot: #ebebeb;
$color-extrainfo-border: hsla(0, 0%, 59.2%, 0.13);
$color-extrainfo-arrow: #222;
$color-orders-heading: #333;
$color-orders-mobile-heading: #a9a9a9;
$color-orders-table-heading: rgba(51, 51, 51, 0.42);
$color-orders-separator: hsla(0, 0%, 84.7%, 0.29);
$color-orders-item: #343232;
$color-orders-show-more: #ff7417;
$color-orders-order-separator: #f4f4f4;
$color-orders-sum-separator: hsla(0, 0%, 95.7%, 0.5);
$color-orders-saved-text: rgba(30, 36, 43, 0.5);
$color-orders-status-failed-background: rgba(207, 81, 81, 0.14);
$color-orders-status-success-background: rgba(79, 183, 108, 0.14);
$color-orders-status-in-progress-background: rgba(46, 169, 195, 0.14);
$color-orders-muted: #919191;
$color-categorypage-grey: #d8d8d8;
$color-addtocart-disabled: #141414;
$color-socialmedia-facebook: #4267b2;
$color-socialmedia-whatsapp: #4f8e4d;
$color-socialmedia-vk: #4a76a8;
$color-socialmedia-telegram: #0183c3;
$color-status-in-progress: #2ea9c3;
$color-status-success: #4fb76c;
$color-status-failed: #cf5151;
$color-account-title: #333;
$color-account-title-status: #202020;
$color-account-title-bonus: #919191;

$button-border-width: 1px;
$button-border-radius: 24px;

$padding-form: 0.6rem;
$input-type-number-width: 80px;
$button-padding: 10px 30px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$grid-columns: 12;
$grid-gutter-width: 10px;

$enable-grid-classes: true;
